APP_NAME=Lumen
APP_ENV=local
APP_KEY=xk0qCQluW0KPZNw6NuzWEuNJTPuAXqWH
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=test
DB_PASSWORD=test

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

JWT_SECRET=B50ufG7eNPmzuHDqg9eXhZi74LDlcgp9q7G8vCMn5yjYecP6Nh8lGs6kfjnTarE9
